<div class="wrapper">
	<div class="content">
        {{{'/templates/andrey.lizivinskiy/components/topbar'|c({website: website})|safe}}}
        <div class="top">
            <div class="container">
                <div class="article__main-title global-title">
					Послуга
                </div>
                <div id="page" class="estate__wrap">
					<div class="estate__slider">
						<div class="column small-11 small-centered">
							<div class="slider slider-single">
								<div><img src="{{{service.thumb}}}" alt="{{{service.name}}}"></div>
								 {% for thumb in service.thumbs %}
								<div><img src="{{{thumb}}}" alt="{{{service.name}}}"></div>
								{% endfor %}
							</div>
							<div class="slider slider-nav">
								<div><img src="{{{service.thumb}}}" alt="{{{service.name}}}"></div>
								{% for thumb in service.thumbs %}
								<div><img src="{{{thumb}}}" alt="{{{service.name}}}"></div>
								{% endfor %}
							</div>
						</div>
					</div>
                    <div class="estate__info">
                        <div class="estate__title">
                            {{{service.name}}}
                        </div>
                        <pre class="estate__description">
                            {{{service.description|safe}}}
                        </pre>
                        <!-- <div class="estate__details-wrap">
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="/andrey.lizivinskiy/img/icons/area.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="/andrey.lizivinskiy/img/icons/price.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                        </div> -->
						{% if website %}
                        <div class="product__btn-wrap product__btn-wrap--width">
                            <!-- <div class="product__btn-text">
								{{{product.price}}}
                            </div> -->
                            <a href="https://{{{website}}}/order/service/{{{service.id}}}" class="product__btn-cart">
                                <img src="/andrey.lizivinskiy/img/icons/cart.svg" alt="">
                            </a>
                        </div>
						{% endif %}
                    </div>
                </div>
            </div>
        </div>
	</div>
	{{{'/templates/andrey.lizivinskiy/components/footer'|c({data: store.data, footer: footer})|safe}}}
</div>
