.service{
    &__wrap{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    &__item{
        display: flex;
        flex-flow: row wrap;
        color: #3a3636;
    }
    &__img{
        flex: 0 0 275px;
        width: 100%;
        img{
            border-radius: 16px;
            height: 100%;
            max-height: 250px;
        }
    }
    &__info{
        flex: 1 0;
        display: flex;
        flex-flow: column wrap;
    }
    &__btn-wrap{
        margin-top: auto;
    }
}

@media screen and (max-width: 991px){
    .product__info {
        padding: 10px 15px;
    }
}
@media screen and (max-width: 767px){
    .service__img {
        flex: 0 0 150px;
        width: 100%;
    }
    .service__img img {
        border-radius: 8px;
        max-height: 140px;
    }
}
@media screen and (max-width: 479px){
    .service__item {
        display: flex;
        flex-flow: column wrap;
        img{
            height: 190px;
            max-height: 190px;
            border-radius: 16px 16px 0 0;
        }
    }
    .product__info {
        padding: 15px;
    }
}